<% content_for(:trustvox_widget) do %>
  <script type="text/javascript">
    var _trustvox = _trustvox || [];
    _trustvox.push(['_storeId', '1']);
    _trustvox.push(['_productId', '<%= @product.id %>']);
    _trustvox.push(['_productName', '<%= @product.name %>']);
    _trustvox.push(['_productPhotos', '<%= product_url(@product).html_safe %>']);
  </script>

  <script type="text/javascript">
    var _trustvox_shelf_rate = _trustvox_shelf_rate || [];
     _trustvox_shelf_rate.push(['_storeId', '1']);
     _trustvox_shelf_rate.push(['_productContainer', '.product-list']);
     _trustvox_shelf_rate.push(['_watchSubtree', true]);
  </script>

  <%= javascript_include_tag "http://#{SpreeApp::Application.config.widget_host}#{SpreeApp::Application.config.widget_file}", async: true %>
  <%= javascript_include_tag "http://#{SpreeApp::Application.config.rate_widget_host}#{SpreeApp::Application.config.rate_widget_file}", async: true %>
<% end %>

<% @body_id = 'product-details' %>

<% cache cache_key_for_product do %>
  <div data-hook="product_show" class="row" itemscope itemtype="https://schema.org/Product">
    <div class="col-md-4 col-sm-5" data-hook="product_left_part">
      <div data-hook="product_left_part_wrap">
        <div id="product-images" data-hook="product_images">
          <div id="main-image" class="panel panel-default" data-hook>
            <div class="panel-body text-center">
              <%= render :partial => 'image' %>
            </div>
          </div>
          <div id="thumbnails" data-hook>
            <%= render :partial => 'thumbnails' %>
          </div>
        </div>

        <div data-hook="product_properties">
          <%= render :partial => 'properties' %>
        </div>

        <div data-hook="promotions">
          <%= render :partial => 'promotions' %>
        </div>
      </div>
    </div>

    <div class="col-md-8 col-sm-7" data-hook="product_right_part">
      <div data-hook="product_right_part_wrap">
        <div id="product-description" data-hook="product_description">
          <h1 class="product-title" itemprop="name"><%= @product.name %></h1>
          <p>
            <a class="product-list" href="#_trustvox_widget" data-trustvox-product-code="<%= @product.id %>" data-trustvox-display-rate-schema="true"></a>
            <a href="#_trustvox_widget" style="text-decoration: none;"> Veja opiniões de quem já comprou. </a>
            <br />
          </p>

          <div class="well" itemprop="description" data-hook="description">
            <%= product_description(@product) %>
          </div>

          <div id="cart-form" data-hook="cart_form">
            <%= render :partial => 'cart_form' %>
          </div>
        </div>

        <div id="taxon-crumbs" class=" five " data-hook="product_taxons">
          <%= render :partial => 'taxons' %>
        </div>
      </div>

    </div>

    <div id="_trustvox_widget"></div>
  </div>
<% end %>
